#!/usr/local/bin/3proxy
config /etc/3proxy/3proxy.cfg
nserver {{ ns_server_1 }} 
nserver {{ ns_server_2 }} 

nscache 3600
timeouts 1 5 30 60 180 1800 15 60

users {{ username }}:CR:{{ userpass }}

log /var/log/3proxy.log
logformat "- +_L%t.%.  %N.%p %E %U %C:%c %R:%r %O %I %h %T"

auth strong
allow {{ username }}
 
socks -p8080
proxy -n -a -p3128
